@import "normalize.css"
@import "fonts"

$semi-black: transparentize(#000, .5)
$navy: #22358b
$dark: #000a38
$black: #000
$silver: #d9d9d9
$orange: #ff471f

$white: #fff
$light-blue: rgba(34, 53, 138, 0.2)
$light-white: rgba(255, 255, 255, 0.2)
$silver-light: rgba(34, 53, 138, 0.12)
$divider: rgba(0, 0, 0, 0.1)

*,
*:after,
*:before
  box-sizing: border-box

body,
html
  height: 100%

.app
  display: flex
  flex-direction: column
  min-height: 100%

  &-inner
    flex: 1 0 auto

body
  font-family: 'Montserrat', sans-serif
  color: $dark

.container
  max-width: 1345px
  padding-left: 15px
  padding-right: 15px
  width: 100%
  margin-left: auto
  margin-right: auto


.button
  padding: 9px 30px
  border: none
  outline: none
  cursor: pointer

  &-orange
    background: $orange
    color: $white
    text-decoration: none
    line-height: 160%
    border: 1px solid $orange
    font-size: 14px
    font-weight: bold
    transition: background 300ms ease-in-out, color 300ms ease-in-out, border-color 300ms ease-in-out

    &:hover
      border: 1px solid $navy
      background: $navy
      color: $white

  &-navy
    background: $navy
    color: $white
    text-decoration: none
    line-height: 160%
    border: 1px solid $navy
    font-size: 14px
    font-weight: bold
    transition: background 300ms ease-in-out, color 300ms ease-in-out, border-color 300ms ease-in-out

    &:hover
      border: 1px solid $orange
      background: $orange
      color: $white

  &-orange__white
    background: $orange
    color: $white
    text-decoration: none
    line-height: 160%
    border: 1px solid $orange
    font-size: 14px
    font-weight: bold
    transition: background 300ms ease-in-out, color 300ms ease-in-out, border-color 300ms ease-in-out

    &:hover
      border: 1px solid $white
      background: $white
      color: $navy

  &-silver
    background: transparent
    color: $black
    line-height: 160%
    font-size: 14px
    border: 1px solid rgba(0, 0, 0, 0.13)
    text-decoration: none
    font-weight: bold
    display: grid
    place-content: center
    transition: border-color 300ms ease-in-out

    &:hover
      border-color: $navy

.header
  min-height: 80px
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: 1px solid $light-blue

  &-notify
    position: relative

    &:hover
      &:after
        box-shadow: 0 0 0 1px #22358b

    &:after
      content: attr(data-notify)
      display: grid
      place-content: center
      position: absolute
      width: 20px
      height: 20px
      font-size: 12px
      line-height: 110%
      top: -13px
      right: -14px
      background: $navy
      color: $white
      transition: box-shadow 150ms ease-in-out
      border-radius: 50%

    svg
      display: block

  &-info
    display: flex
    align-items: center
    gap: 22px

  &-dropdown
    background: transparent
    padding: 0
    border: none
    color: $navy
    cursor: pointer
    display: inline-flex
    align-items: center
    gap: 5px

    svg
      stroke: $black

  &-counter
    width: 28px
    height: 28px
    border-radius: 50%
    border: 1px solid $navy
    display: grid
    place-content: center
    font-size: 14px
    color: $navy

  ul
    list-style: none
    margin: 0
    padding: 0
    display: flex
    gap: 40px

  .nav-link
    text-decoration: none
    color: $semi-black
    transition: color 300ms ease-in-out

    &:hover
      color: $navy

    &__active
      color: $navy
      position: relative

      &:after
        content: ''
        position: absolute
        left: 0
        height: 1px
        right: 0
        bottom: -5px
        background: $navy


.logo
  img
    transition: opacity 150ms ease-in-out

  &:hover
    img
      opacity: .85

.welcome
  display: flex
  flex-wrap: wrap
  padding-top: 90px
  padding-bottom: 70px

  &-grade
    margin-bottom: 30px
    display: flex
    align-items: center
    gap: 60px

    &__dream
      font-weight: 600

    &__dream,
    &__update
      font-size: 14px
      display: inline-flex
      align-items: center
      color: $navy
      gap: 10px
      text-decoration: none
      transition: color 300ms ease-in-out

      &:hover
        color: $orange

        svg
          stroke: $orange

      svg
        stroke: $navy
        transition: stroke 300ms ease-in-out

  &-right
    display: flex
    justify-content: flex-end

  &-progress
    background: $navy
    height: 120px
    width: 510px
    position: relative

    &:after
      content: attr(data-number)
      transition: transform 300ms ease-in-out
      font-size: 70px
      color: $white
      font-weight: bold
      display: grid
      place-content: center
      height: 100%
      position: relative
      z-index: 5

    &:before
      content: ''
      position: absolute
      left: 0
      z-index: 1
      top: 0
      bottom: 0
      width: var(--progress)
      background: linear-gradient(270.72deg, #FF471F 26.79%, rgba(255, 71, 31, 0) 99.33%)
      height: 120px

  &-text
    line-height: 180%
    font-size: 16px

  &-left,
  &-right
    flex: 1

  h1
    margin-top: 0
    font-size: 70px
    font-weight: bold
    line-height: 110%
    color: $dark
    margin-bottom: .5em
    text-wrap: balance

.achievement
  background: $navy
  color: $white
  display: flex
  align-items: center
  min-height: 135px
  justify-content: space-between

  &-columns
    width: 100%
    column-count: 3
    column-rule-color: $light-white
    column-rule-style: solid
    column-rule-width: 1px

  &-column
    display: grid
    place-content: center

    &__block
      display: flex
      gap: 20px
      align-items: center

    &__number
      font-weight: bold
      //min-width: 90px
      font-size: 70px
      text-align: center

.share
  background: $silver-light
  margin-top: 20px
  padding: 15px 45px
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  min-height: 68px
  align-items: center

  &-button
    background: $navy
    color: $white
    border: none
    outline: none
    cursor: pointer
    display: flex
    align-items: center
    gap: 5px
    font-size: 14px
    font-weight: bold
    width: 130px
    height: 40px
    justify-content: center
    transition: background 300ms ease-in-out

    &:hover
      background: $orange

  &-text
    color: $navy

.heading
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  padding-bottom: 20px
  margin-bottom: 20px
  border-bottom: 1px solid $light-blue

  &-link
    color: $navy
    text-decoration: none
    transition: color 300ms ease-in-out

    &:hover
      color: $orange

  &-title
    font-size: 20px
    line-height: 110%
    font-weight: bold

.svg-sprite
  opacity: 0
  position: absolute
  width: 0
  height: 0
  z-index: -1
  pointer-events: none

.filter
  display: flex
  flex-wrap: wrap
  gap: 20px

  &-explore
    margin-bottom: 60px

  &-inside
    flex: 1
    max-width: 1120px
    box-shadow: 0 4px 66px rgba(0, 0, 0, 0.06)
    display: flex
    min-height: 90px
    margin-right: auto

  &-column
    &__set-job
      max-width: 290px
      width: 100%
      border-right: 1px solid $divider

      & ~ .filter-column
        flex: 1

  &-link
    display: flex
    align-items: center
    text-decoration: none
    line-height: 110%
    height: 100%
    justify-content: center
    color: $black
    gap: 10px
    transition: color 300ms ease-in-out

    svg
      stroke: $black
      transition: stroke 300ms ease-in-out

    &:hover
      color: $orange

      svg
        stroke: $orange

    &__set-job
      font-weight: 600
      color: $navy

      &:hover
        svg
          stroke: $orange

      svg
        stroke: $navy
        transition: stroke 300ms ease-in-out


.opportunities
  padding-bottom: 100px

  &-latest
    margin-top: 70px

  &-homepage
    margin-top: 60px

  &__listing
    margin-top: 20px
    display: grid
    grid-gap: 20px
    grid-template-columns: repeat(3, 1fr)

  .opportunity
    background: $white
    min-height: 300px
    box-shadow: 0 4px 66px rgba(0, 0, 0, 0.06)
    padding: 30px
    transition: box-shadow 300ms ease-in-out

    &:hover
      box-shadow: 0 4px 11px rgba(0, 0, 0, 0.09)

    &-top
      display: flex
      gap: 18px

    &-icf
      color: $black
      font-size: 14px
      line-height: 160%

    &-content
      display: grid
      grid-gap: 12px

    &-address
      font-size: 14px
      line-height: 140%

    &-vgm
      font-size: 14px
      line-height: 140%

    &-date
      font-size: 14px
      color: rgba(0, 10, 56, 0.5)

    &-top
      border-bottom: 1px solid $silver
      padding-bottom: 20px
      margin-bottom: 20px

    &-bottom
      display: flex
      align-items: center
      gap: 10px
      flex-wrap: wrap

      &__buttons
        display: flex
        align-items: center
        gap: 10px
        margin-right: auto

    &-time
      color: rgba(0, 10, 56, 0.5)
      font-size: 14px

    &-lock
      display: flex
      gap: 10px
      font-size: 12px
      line-height: 140%
      align-items: center
      color: rgba(0, 10, 56, 0.5)

    &-title
      font-size: 18px
      color: $navy
      font-weight: bold
      line-height: 160%

    &-image
      background: $navy
      display: grid
      place-content: center
      flex-shrink: 0
      width: 72px
      height: 72px

.footer
  background: $navy
  min-height: 206px
  color: $white
  flex: 0 0 auto
  padding: 30px 0 50px 0

  .logo
    margin-right: 80px

  .nav-link
    font-size: 14px
    font-weight: 500
    padding: 10px
    color: $white
    text-decoration: none
    transition: opacity 300ms ease-in-out

    &:hover
      opacity: .7

  ul
    list-style: none
    margin: 0
    padding: 0
    display: flex
    gap: 40px

  &-top
    display: flex
    align-items: center
    border-bottom: 1px solid $light-white
    padding-bottom: 30px

  &-bottom
    padding-top: 30px
    display: flex
    justify-content: space-between

  &-nav
    display: flex
    gap: 40px

    &__link
      opacity: .66
      color: $white
      text-decoration: none
      font-size: 14px
      line-height: 160%
      transition: opacity 300ms ease-in-out

      &:hover
        opacity: 1

  &-copyright
    font-size: 14px
    line-height: 160%

.page-content
  padding-top: 55px

  .page-excerpt
    font-size: 14px
    line-height: 110%
    margin-top: 20px
    opacity: .66

  h1
    font-size: 20px
    font-weight: bold
    line-height: 120%
    margin-top: 0

.community
  margin-top: 60px
  display: flex
  gap: 35px
  margin-bottom: 100px

  .button-see__all
    display: inline-flex

  &-all
    margin-left: 50px

  .rating-inside
    position: sticky
    top: 20px
    padding-bottom: 20px

  &-rating
    max-width: 50px
    width: 100%

    &__number
      font-size: 20px
      font-weight: bold
      color: $navy

    button
      background: transparent
      border: none
      outline: none
      padding: 0

  &-post
    display: flex

    &__inside
      background: $white
      padding: 30px 40px
      box-shadow: 0 4px 66px rgba(0, 0, 0, 0.06)

    &__title
      font-size: 20px
      font-weight: bold
      line-height: 140%

    &__comments
      margin-top: 20px

      &-number
        border: 1px solid rgba(34, 53, 139, 0.25)
        max-width: 32px
        height: 32px
        border-radius: 4px
        display: grid
        place-content: center

    &__content
      margin-top: 10px
      font-size: 16px
      opacity: .66
      line-height: 160%

  &-listing
    display: flex
    flex-direction: column
    gap: 20px

  &-aside
    max-width: 320px
    width: 100%

    &__top
      display: flex
      align-items: center
      gap: 15px

    &__content
      line-height: 160%

  &-sticky
    position: sticky
    top: 30px
    padding: 35px 30px
    background: $navy
    color: $white
    display: grid
    grid-gap: 20px

.explore-filter
  display: flex
  gap: 30px
  margin-bottom: 35px

  .input
    min-height: 58px
    display: flex
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)

  [type="reset"]
    background: transparent
    border: none
    padding: 0
    outline: none
    cursor: pointer

    path
      transition: stroke-opacity 300ms ease-in-out

    &:hover
      path
        stroke-opacity: .5

  .column

    &:last-child
      display: flex

      button
        display: flex
        align-items: center
        gap: 10px

        svg
          width: 22px

    &:not(:last-child)
      flex: 1

    input
      border: none
      outline: none
      width: 100%

      &::placeholder
        color: transparentize($black, .44)

.search-button
  background: transparent
  display: grid
  place-content: center
  border: none
  outline: none
  height: 100%
  cursor: pointer